img {
    border-radius: 7px;
}

body {
    background: linear-gradient(blue, pink);
    font-family:'Gill Sans', 'Gill Sans MT', Papyrus, 'Trebuchet MS', sans-serif;
}

.middle {
    text-align: center;
}

h3 {
    color:dodgerblue;
    text-decoration: underline;
}

hr {
    text-decoration:coral dashed;
}

h1 {
    font-family:cursive;
    color: blue;
    text-decoration-style:wavy;
}
